---
import PageLayout from '@/layouts/PageLayout.astro';
import '@/styles/colors.css';

const title = 'using custom properties via `import` statement';
---

<PageLayout title={title}>

<p class="text">This paragraph should be pink.</p>

</PageLayout>

<style>
.text {
	color: var(--color-pink, #ff0000);
}
</style>
