---
import PageLayout from '@/layouts/PageLayout.astro';

const title = 'link custom properties and use them from the style element';
---

<PageLayout title={title}>

<link rel="stylesheet" href="/css/colors.css" slot="head" />

<p class="text">This paragraph should be blue.</p>

</PageLayout>

<style>
.text {
	color: var(--color-blue, #0000ff);
}
</style>
