---
import PageLayout from '@/layouts/PageLayout.astro';

const title = 'using custom properties through link element';
---

<PageLayout title={title}>

<link rel="stylesheet" href="/css/colors.css" slot="head" />

<p class="text">This paragraph should be blue.</p>

</PageLayout>

<style>
.text {
	color: var(--color-blue, #ff0000);
}
</style>
