---
import PageLayout from '@/layouts/PageLayout.astro';

import '@/styles/styles.css';

const title = 'Astro styling: using `import`';
---

<PageLayout title={title}>

<p class="text">This paragraph should be navy.</p>

</PageLayout>
