---
import PageLayout from '@/layouts/PageLayout.astro';

import '@/styles/styles.css';

const title = '`import` to import a CSS file';
---

<PageLayout title={title}>

<p class="text">This paragraph should be navy.</p>

</PageLayout>
