---
import PageLayout from '@/layouts/PageLayout.astro';

const title = 'using link element';
---

<PageLayout title={title}>

<link rel="stylesheet" href="/css/styles.css" slot="head" />

<p class="text">This paragraph should be green.</p>

</PageLayout>
