---
import PageLayout from '@/layouts/PageLayout.astro';

const title = 'style element';
---

<PageLayout title={title}>

<p class="text">This paragraph should be tomato.</p>

</PageLayout>

<style>
.text {
	color: tomato;
}
</style>
