---
import PageLayout from '@/layouts/PageLayout.astro';

const title = 'Astro styling';

const pages = await Astro.glob('./**/*.astro');
---

<PageLayout title={title}>

<p>Hello.</p>

<h2>Pages</h2>

<ul>
	{pages.map((page) => (
		<li><a href={page.url}>{page.url}</a></li>
	))}
</ul>

</PageLayout>
