---
import PageLayout from '@/layouts/PageLayout.astro';

const title = 'CSS handling in Astro';

const pages = await Astro.glob('./**/*.astro');
---

<PageLayout title={title}>

<h2>Contents</h2>

<ul>
	{pages.map((page) => (
		<li><a href={page.url}>{page.url}</a></li>
	))}
</ul>

</PageLayout>
