---
import { SITE_NAME } from '@/consts.js';

const { title } = Astro.props;
---

<html>
<head>
<meta charset="UTF-8">
<title>{SITE_NAME}: {title}</title>
<meta name="viewport" content="width=device-width">
<slot name="head" />
</head>
<body>

<h1>{title}</h1>

<slot />

<footer>
<a href="/">Home</a>
</footer>

</body>
</html>
