---
const { title } = Astro.props;
---

<meta charset="UTF-8">
<title>{title}</title>
<meta name="viewport" content="width=device-width">

<slot name="head" />

<body>

<h1>{title}</h1>

<slot />

<footer>
<a href="/">Home</a>
</footer>

</body>
